*.classpath
solrcloud_discovery/.project
*.prefs
*.class
solrcloud_discovery/target/solrCollectionLocator-1.0-SNAPSHOT.jar
solrcloud_discovery/target/classes/log4j.properties
solrcloud_discovery/target/maven-archiver/pom.properties